.button{
    position: absolute;
    border: none;
    background-color: aqua;
    bottom: -25px;
    right: 15px;
    font-family: Rubik;
font-style: normal;
font-weight: bold;
color: #202020;



width: 90px;
height: 32px;

background: conic-gradient(from 95.64deg at 0% 1.99%, #FFFFFF -250.42deg, rgba(255, 255, 255, 0) 12.4deg, #FFFFFF 109.58deg, rgba(255, 255, 255, 0) 372.4deg), #BBAFAF;

box-sizing: border-box;
box-shadow: 3px 4px 2px -1px rgba(0, 0, 0, 0.25), inset 2px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}


.button:hover{
    color: #c9c9c9;
    background: conic-gradient(from 95.64deg at 0% 1.99%, #FFFFFF -250.42deg, rgba(255, 255, 255, 0) 12.4deg, #FFFFFF 109.58deg, rgba(255, 255, 255, 0) 372.4deg), #C62020;
    box-shadow: 3px 4px 2px -1px rgba(0, 0, 0, 0.25), inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}